.main-err{
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-container {
  text-align: center;
  max-width: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 16px;
}


.error-img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 22px;
}

.error-title {
  color: #ebeef5;
  font-weight: 600;
  font-size: 48px;
  /* margin-bottom: 16px; */
  font-family: 'Poppins', sans-serif;
  line-height: 3.5rem;
  letter-spacing: -2%;
  text-align: center;

}

.error-text {
  color: #8e95a9;
  font-size: 16px;
  margin-bottom: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0%;
  text-align: center;
  max-width: 500px;
}

.error-btn {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5rem;
  letter-spacing: 0%;
  border-radius: var(--radius-lg);
  border-width: 2px;
  padding: 16px 32px;
  background-color: var(--accent-purple);
}