.header-ctg {
  display: flex;
  gap: 20px;
  margin-top: 100px;
  margin-bottom: 48px;
}

.ctg-title {
  font-size: 35px;
  font-weight: 500;
  line-height: 24px;
}

.vector-icon {
  width: 17px;
}

.movie-grid {
  display: flex;
}

.movie-category {
  color: #0feffd;
}

.movie-card {
  position: relative;
  width: 400px;
  height: 630px;
  background-image: url('../../assets/client/GridImages/moviecard1.svg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.movie-details {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  z-index: 1;
}

.movie-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
}

.movie-category-container {
  background-color: #1d1d1d80;
  padding: 4px 8px;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 8px;
}

.movie-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #1d1d1d00 0%, #1d1d1dcc 100%);
}
