

/* SIDEBAR RESPONSIVE */
@media screen and (max-width:768px){
    .layout{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .sidebar{
        order: 2;
        width: 100%;
        height: 70px;
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 0;
        background-color: var(--panel);
    }

    .side-top{
        flex-direction: row;
        height: 100%;
        justify-content: space-around;
        align-items: center;
    }
    .side-nav{
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
    }
    .logo{
        display: block; 
        position: fixed; 
        top: 18px;
        left: 15px; 
    }

    /* ACCOUNT RESPONSIVE */
    .account-profile {
        padding-bottom: 100px; 
    }

    /* ERROR RESPONSIVE */
    .main-err{
        padding-top: 120px;
    }
}




