/* Layout (əgər yoxdursa) */
.layout{
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar{
  position: fixed;
  top: 0;
  left: 0;

  width: 72px;
  height: 100vh;

  background: rgba(15, 15, 20, 0.55); /* yarı-şəffaf */
  backdrop-filter: blur(14px);       /* glass effect */
  -webkit-backdrop-filter: blur(14px);

  border-right: 1px solid rgba(255,255,255,0.08);
  z-index: 100;
}

/* Üst hissə */
.side-top{
  height: 100%;
  padding: 18px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo{
  width: 34px;
  height: auto;
  margin-bottom: 30px;
}

/* Navigation */
.side-nav{
  display: flex;
  flex-direction: column;
  gap: 22px;
}

/* Linklər */
.side-link{
  width: 42px;
  height: 42px;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all .25s ease;
}

/* Icon */
.side-link img{
  width: 20px;
  height: 20px;
  opacity: .7;
  transition: all .25s ease;
}

/* Hover (ağ yox, açıq göy) */
.side-link:hover{
  color: #0FEFFD; /* açıq göy fon */
}

.side-link:hover img{
  opacity: 1;
  filter: drop-shadow(0 0 6px rgb(2, 247, 255));
}

/* Active (açıq göy) */
.side-link.active{
  background: rgba(36, 200, 216, 0.25);
}

.side-link.active img{
  opacity: 1;
  filter: drop-shadow(0 0 8px rgba(36, 200, 216, 0.90));
}

/* Mobil */
@media (max-width: 768px){
  .sidebar{
    width: 56px;
  }

  main{
    margin-left: 56px;
  }
}