@import url("https://fonts.googleapis.com/css2?family=Numans&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root{
  --bg: #0b0c10;
  --panel: rgba(255,255,255,0.04);
  --text: rgba(255,255,255,0.92);
  --muted: rgba(255,255,255,0.55);
  --line: rgba(255,255,255,0.10);
}

body{
  font-family: 'Raleway', sans-serif;
    background:
    radial-gradient(900px 420px at 30% 0%, rgba(255,255,255,0.06), transparent 60%),
    radial-gradient(800px 400px at 70% 0%, rgba(255,255,255,0.05), transparent 60%),
    var(--bg);
  color: var(--text);
}

.layout{
  min-height:100vh;
  display:grid;
  grid-template-columns: 86px 1fr;
}

/* Sidebar */
.sidebar{
  background: rgba(255,255,255,0.02);
  border-right: 1px solid rgba(255,255,255,0.06);
  padding: 18px 10px;
  display:flex;
  flex-direction: column;
}

.side-top{
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap: 50px; /* LOGO ilə HOME arası məsafə */
}

.logo{
  width: 56px;
  height: 56px;
  top: 40px;
}

.side-nav{
  display:flex;
  flex-direction:column;
  gap: 80px; /* ikonlar arası */
  align-items:center;
}

.side-link{
  width:46px;
  height:46px;
  border-radius:14px;
  display:grid;
  place-items:center;
  color: rgba(255,255,255,0.55);
  text-decoration:none;
  transition: .15s ease;
}

.side-link img{
  width:32px;
  height:32px;
}

.side-link:hover{
  background: rgba(255,255,255,0.06);
  color: rgba(255,255,255,0.8);
}

.side-link.active{
  background: rgba(255,255,255,0.08);
  color: rgba(120, 170, 255, 0.9);
}
