* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Numans";
  src: url("../Numans-Regular.ttf");
}


body {
  background: #111;
   font-family: "Numans", sans-serif;
}

.layout {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  background: #1b1b1f;
  color: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 25px;
  margin-bottom: 40px;
}

.logo-icon {
  width: 20px;
  height: 20px;
  border: 2px solid #8b5cf6;
  transform: rotate(45deg);
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 25px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar li:hover {
  background: #2a2a30;
}

.sidebar li.active {
  background: #6d28d9;
  color: #fff;
}

.logout {
  padding: 15px 25px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #8b5cf6;
  cursor: pointer;
}

/* MAIN */
.main {
  flex: 1;
  background: #121212;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.header {
  padding: 25px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hi-text {
  color: #aaa;
  font-size: 14px;
}

.header h1 {
  color: #fff;
  font-size: 22px;
  margin-top: 5px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}

.profile img {
  border-radius: 50%;
}

/* CONTENT */
.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ORTADAKI S */
.comment-badge {
  width: 80px;
  height: 80px;
  background: #ff4d2d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}
