@import url('https://fonts.googleapis.com/css2?family=Numans&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: Arial, sans-serif;
  background: #0f0f10;
  color: #fff;
}

.app {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */

.sidebar {
  width: 260px;
  background: #151516;
  padding: 25px 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.logo {
  width: 36px;
  height: 36px;
  border-radius: 10px;
  background: linear-gradient(135deg, #6a5cff, #a855f7);
}

.brand span {
  font-family: "Numans", sans-serif;
  line-height: 80px;
  letter-spacing: -2%;
  font-weight: 400;
  font-size: 18px;
  color: #C3C8D4;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item {
  text-decoration: none;
  color: #a1a1aa;
  padding: 12px 14px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: 0.2s;
}

.item:hover {
  background: rgba(255,255,255,0.05);
  color: #fff;
}

.item:hover {
  background: #5b21b6;
  color: #fff;
  border-radius: 0;
  margin-left: -18px;
  margin-right: -18px;
  padding-left: 32px;
}

.logout {
  text-decoration: none;
  color: #a855f7;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
}

.logout:hover {
  background: rgba(168,85,247,0.1);
  border-radius: 10px;
}

/* MAIN */

.main {
  flex: 1;
  background: linear-gradient(180deg, #111112, #0f0f10);
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 35px;
}

.hi {
  font-size: 13px;
  color: #a1a1aa;
}

.topbar h1 {
  margin-top: 5px;
  font-size: 22px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: linear-gradient(135deg, #22c55e, #a855f7);
}/* ================= TABLE SECTION ================= */

.table-wrapper {
  margin-top: 30px;
}

/* ================= TABLE ================= */

.movies-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 12px;
}

.movies-table thead {
  background: #111;
  color: white;
}

.movies-table th {
  text-align: left;
  padding: 16px;
  font-weight: 500;
}

.movies-table tbody tr {
  background: #f4f4f4;
  border-radius: 10px;
}

.movies-table td {
  padding: 16px;
  vertical-align: middle;
}

/* Movie title cell */

.movie-title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.movie-title img {
  width: 45px;
  height: 65px;
  object-fit: cover;
  border-radius: 6px;
}
