.stats-flex {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 79px;
  margin-left: 30px;
}
.card {
  background-color: #2d2d2d;
  width: 288px;
  height: 203px;
  border-radius: 30px;
  cursor: pointer;
}

.card:hover {
  background-color: #652f8d;
  transition: 0.5s;
}
.card-letter:hover {
  background-color: #652f8d;
  transition: 0.5s;
}
.box-name {
  color: #d7d7d7;
  font-weight: 500;
  font-family: "Raleway", system-ui, sans-serif;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-top: 24px;
  padding-bottom: 8px;
  padding-left: 24px;
}
.number-dash {
  font-family: "Inter", system-ui, sans-serif;
  font-weight: 600;
  font-style: bold;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  padding-left: 24px;
}
.card-letter {
  background-color: #2d2d2d;
  width: 234px;
  height: 203px;
  border-radius: 30px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .stats-flex {
    justify-content: center;
  }

  .card,
  .card-letter {
    width: 45%;
  }

  .card-letter {
    margin-left: 0; /* tabletde pozulmasin deye silirik */
  }
}
