@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Numans&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.stats-flex{
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 79px;
}
.card{
    background-color: #2D2D2D;
    width: 288px;
    height: 203px;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 24px;
}
.card:hover{
    background-color: #652F8D;
    transition: 0.5s;
}
.card-letter:hover{
    background-color: #652F8D;
    transition: 0.5s;
}
.box-name{
    color: #D7D7D7;
    font-weight: 500;
    font-family: "Raleway", system-ui,sans-serif;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-top: 24px;
    padding-bottom: 8px;
    padding-left: 24px;
}
.number-dash{
    font-family: "Inter", system-ui,sans-serif;
    font-weight: 600;
    font-style: bold;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;
    padding-left: 24px;
}
.card-letter{
    background-color: #2D2D2D;
    width: 234px;
    height: 203px;
    border-radius: 30px;
    cursor: pointer;
    
}